#toc {

}
li.toc-active {
	background: #DBDBDB;
}
#toc ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
#toc ul li{
	margin: 0;
	padding: 0;
	list-style: none;
}
#toc .toc-h2 {
	padding-left: 10px;
}

#toc .toc-h3 {
	padding-left: 20px;
}
